* {
    padding: 0;
    margin: 0;
}


/*
.main-haikei {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    
  
}
*/

body {
    background-image: url(./images/haikei.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: none;

    padding: 0;
    margin: 0;
}

.logo {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.circle {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-image: url(./images/haikei.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /*　background-size: 100px 100px;*/
    clip-path: ellipse(150px 150px at 10% 10%);
}


/*
.cursor,
.follower {
  border-radius: 50%;
  position: absolute; 
  top: 0;
  left: 0; 
  cursor: none; 
  pointer-events: none;
}
 
.cursor {
  width: 8px;
  height: 8px;
  background-color: #000;
  z-index: 1001; 
}
 
.follower {
  z-index: 1000; 
  -webkit-background-clip: .follower;
  background-image: url(./images/haikei.png);
  clip-path: ellipse(150px 150px at 10% 10%);
}

 
.cercle{
    width: 300px;
    height: 300px;
    
}*/
